@model IEnumerable<CondoSphere.Models.Notification>
@{
    ViewData["Title"] = "Notifications";
}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">Notifications</h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="fa fa-plus"></i> Create New
                </a>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Message)</th>
                            <th>@Html.DisplayNameFor(model => model.SentAt)</th>
                            <th>@Html.DisplayNameFor(model => model.Condominium)</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Message)</td>
                                <td>@item.SentAt.ToString("dd/MM/yyyy HH:mm")</td>
                                <td>@item.Condominium?.Id</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
